<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h1>File Upload</h1>
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <div class="form-group">
                <input type="file" name="file" onchange="handleFileSelect(event)">
                <input id="uploadButton" class="upload-button" type="submit" value="Upload">
            </div>
        </form>

        <button class="btn-list" onclick="redirectToOtherPage()">LIST PAGE</button>
    </div>

    <script>
        function handleFileSelect(event) {
            var uploadButton = document.getElementById("uploadButton");
            if (event.target.files.length > 0) {
                uploadButton.style.display = "block";
            } else {
                uploadButton.style.display = "none";
            }
        }

        function redirectToOtherPage() {
            window.location.href = "/list";
        }
    </script>
</body>
</html>
