<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>List</title>
    <link rel="stylesheet" href="../static/list.css">
    <style>
      .login-button {
        position: fixed;
        top: 10px;
        right: 10px;
        padding: 10px 20px;
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <button class="login-button" onclick="redirectToLoginPage()">
      LOGIN
    </button>
    <button class="upload-button" onclick="redirectToOtherPage()">
      UPLOAD FILES
    </button>

    <div class="container">
      <div class="table-wrapper">
        <h2>Producer Balance</h2>
        <table>
          <thead>
            <tr>
              <th>Seller</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody id="producers-table"></tbody>
        </table>
      </div>

      <div class="table-wrapper">
        <h2>Associates Balance</h2>
        <table>
          <thead>
            <tr>
              <th>Seller</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody id="associates-table"></tbody>
        </table>
      </div>

      <div class="table-wrapper">
        <h2>Foreign Courses</h2>
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Date</th>
              <th>Product</th>
              <th>Value</th>
              <th>Seller</th>
            </tr>
          </thead>
          <tbody id="courses-table"></tbody>
        </table>
      </div>
    </div>

    <script>
       function redirectToLoginPage() {
        window.location.href = "http://localhost:8000/users/login";
      }
      // Fetch data from the /producers endpoint and populate the table
      const accessToken = localStorage.getItem("access_token");

      if(!accessToken) {
        window.location.href = "/users/login"
      }

      fetch("http://localhost:8000/producers", {
        headers: { 'Authorization': `Bearer ${accessToken}` },
      })
        .then((response) => response.json())
        .then((data) => {
          const tableBody = document.getElementById("producers-table");
          data.forEach((item) => {
            const row = document.createElement("tr");
            const sellerCell = document.createElement("td");
            const valueCell = document.createElement("td");

            sellerCell.textContent = item.seller;
            valueCell.textContent = item.value.toFixed(2);
            row.appendChild(sellerCell);
            row.appendChild(valueCell);

            tableBody.appendChild(row);
          });
        })
        .catch((error) => {
          console.log("Error:", error);
        });

      // Fetch data from the /associates endpoint and populate the table
      fetch("http://localhost:8000/associates", {
        headers: { 'Authorization': `Bearer ${accessToken}` },
      })
        .then((response) => response.json())
        .then((data) => {
          const tableBody = document.getElementById("associates-table");
          data.forEach((item) => {
            const row = document.createElement("tr");
            const sellerCell = document.createElement("td");
            const valueCell = document.createElement("td");

            sellerCell.textContent = item.seller;
            valueCell.textContent = item.value.toFixed(2);

            row.appendChild(sellerCell);
            row.appendChild(valueCell);

            tableBody.appendChild(row);
          });
        })
        .catch((error) => {
          console.log("Error:", error);
        });

      // Fetch data from the /courses/foreign endpoint and populate the table
      fetch("http://localhost:8000/courses/foreign", {
        headers: { 'Authorization': `Bearer ${accessToken}` },
      })
        .then((response) => response.json())
        .then((data) => {
          const tableBody = document.getElementById("courses-table");
          data.forEach((item) => {
            const row = document.createElement("tr");
            const typeCell = document.createElement("td");
            const createdAtCell = document.createElement("td");
            const productCell = document.createElement("td");
            const valueCell = document.createElement("td");
            const sellerCell = document.createElement("td");

            typeCell.textContent = item.type;
            createdAtCell.textContent = item.created_at;
            productCell.textContent = item.product;
            valueCell.textContent = item.value.toFixed(2);
            sellerCell.textContent = item.seller;

            row.appendChild(typeCell);
            row.appendChild(createdAtCell);
            row.appendChild(productCell);
            row.appendChild(valueCell);
            row.appendChild(sellerCell);

            tableBody.appendChild(row);
          });
        })
        .catch((error) => {
          console.log("Error:", error);
        });

      function redirectToOtherPage() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
