<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Middleware</title>
    <link rel="stylesheet" href="../static/middleware.css">
  </head>
  <body>
    <h1>Your file was successfully uploaded and is being processed...</h1>
    <div class="button-container">
      <button onclick="redirectToOtherPage()">BALANCE</button>
      <button onclick="redirectToOtherPage2()">UPLOAD FILE</button>
    </div>

    <script>
      const accessToken = localStorage.getItem("access_token");

      if (!accessToken) {
        window.location.href = "/users/login";
      }

      function redirectToOtherPage() {
        // const accessToken = localStorage.getItem("access_token");
        // if(accessToken) {}
        window.location.href = "/list";
      }

      function redirectToOtherPage2() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
